.header {
   display: flex;
}

 .header {
    padding-top: 24px;
    padding-bottom: 25px;
    @media screen and (min-wi) {
      
    }
    border-bottom: 1px solid #eee;
 }
 .logo {
     font-family: Raleway;
     font-size: 26px;
    /* 333.333% */
     letter-spacing: 0.78px;
 } 
 .logo-accent {
     color: var(--accent-color);
 }
 .contakt-link {
    color: var(--add-color);
        font-size: 14px;
        font-weight: 500;
        /* 50.00% */
        letter-spacing: 0.28px;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
 }
 .contakt-link:hover {
   color: var(--accent-color);
 }
 .contakt-link:hover .messenger-iconca {
   fill: var(--accent-color);
 }
 .navigation-list {
     display: flex;
     margin-left: 93px;
     justify-content: center;
     align-items: center;
 }
 .navigation-item + .navigation-item {
   margin-left: 50px;
 }
.messenger-iconca:hover {
   Fill: #2196F3;
}
.messenger-iconca {
   fill: gray;
   padding-right: 5px;
}
 .contakt-list {
    display: flex;
    align-items: center;
    margin-left: auto;
 }
 /* .contakt-item + .contakt-item {
   margin-left: 80px;
 } */
 .contakt-link {
   margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }